@model ProvaDjalma.Models.Vendedor

@{
    ViewBag.Title = "NovoVendedor";
}

<h2>NovoVendedor</h2>

@using (Html.BeginForm("SalvarVendedor", "Usuario", FormMethod.Post))
{
    <div class="form-horizontal">
        <h4>Usuario</h4>
        <hr />


        @Html.Partial("_FrmUsuario")

        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Salvar" class="btn btn-dark" />
            </div>
        </div>
    </div>
}