@model ProvaDjalma.Models.Vendedor

@{
    ViewBag.Title = "NovoVendedor";
}

<h2>Novo Vendedor</h2>
@using(Html.BeginForm("Salvar_vendedor" , "Usuario", FormMethod.Post))
            {
                <div class="form-horizontal">
                    <h4>Vendedor </h4>
                    <hr/>

                    @Html.Partial("_FrmUsuario")
                   
                    <br/>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Salvar vendedor" class=" btn btn-dark"/> 
                        </div>
                    </div>
                </div>
            }
<div>
    @Html.ActionLink("voltar", "Index")
</div>