@model ProvaDjalma.Models.Vendedor

@{
    ViewBag.Title = "Visualizar";
}

<h2>Visualizar</h2>

@Html.Partial("_FrmUsuario")

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id })
    @Html.ActionLink("voltar para index", "Index")
</p>